<div class="container-fluid">
  <div class="row" style="margin-left:1rem;margin-top:1rem;margin-right:1rem">
    <div class="container1">
      <p style="padding-top:8px;">Список тегов</p>
    </div>
  </div>
  <br />
  <div class="p-grid p-justify-start" style="margin-left:5px">
    <div style="margin-left:10px">
      <p-dropdown [options]="lpus" [(ngModel)]="selectedLpu" placeholder="Выберите ЛПУ" optionLabel="title"></p-dropdown>
    </div>
    <div style="margin-left:10px">
      <p-dropdown [options]="qualityTypeList" [(ngModel)]="selectedQualityType" placeholder="Выберите качество" optionLabel="title"></p-dropdown>
    </div>
    <div style="margin-left:10px">
      <button pButton *ngIf="loading==false" type="button" label="Выбрать данные" icon="pi pi-check" iconPos="left" (click)="createReport()" pTooltip="Сформировать отчет"></button>
      <button pButton *ngIf="loading==true" [disabled]="true" label="Выбрать данные" icon="pi pi-spin pi-spinner" iconPos="left"></button>
    </div>
    <div style="margin-left:10px">
      <button pButton *ngIf="loadingExcel==false" label="Excel" icon="pi pi-file-excel" (click)="createExcelReport()" iconPos="left" pTooltip="Сформировать Excel отчет"></button>
      <button pButton *ngIf="loadingExcel==true" [disabled]="true" label="Excel" icon="pi pi-spin pi-spinner" iconPos="left"></button>
    </div>
  </div>

  <div class="row" style="margin:1rem; border-color:darkgray; border-style:solid; border-width:1px">
    <p-panel *ngIf="isError" header="Ошибка">
      <p style="color:red">{{errorMsg}}</p>
    </p-panel>
    <p-table [loading]="loading" [value]="tableValue" [scrollable]="true" scrollHeight="700px" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>№ п/п</th>
          <th>Наименование ЛПУ</th>
          <th>Описание тега</th>
          <th>Наименование тега</th>
          <th *ngIf="isLive">Качество</th>
          <th *ngIf="isLive">Значение</th>
          <th>Время</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-val let-rowIndex="rowIndex">
        <tr [ngClass]="{'select_itog': val.isItog}">
          <td [ngClass]="{'select_itog': val.isItog}">{{rowIndex + 1}}</td>
          <td [ngClass]="{'select_itog': val.isItog}">{{val.lpuTitle}}</td>
          <td [ngClass]="{'select_itog': val.isItog}">{{val.tagDescription}}</td>
          <td [ngClass]="{'select_itog': val.isItog}">{{val.tagName}}</td>
          <td *ngIf="isLive" [ngClass]="{'select_itog': val.isItog}">{{val.quality}}</td>
          <td *ngIf="isLive" [ngClass]="{'select_itog': val.isItog}">{{val.value}}</td>
          <td [ngClass]="{'select_itog': val.isItog}">{{val.dts}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
          <td>
            Нет данных
          </td>
        </tr>
      </ng-template>
    </p-table>

  </div>
</div>


