/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}*/

/* Set padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
app-root{
    display:block;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container1 {
  width: 100%;
  height: 50px;
  background-color: darkgray;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  margin-top: 0.7rem;
  border-radius: 5px;
}

.container2 {
  width: 100%;
  height: 40px;
  background-color: darkgray;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0.7rem;
  border-radius: 5px;
}

.select_itog {
  font-size: 14px;
  font-weight: bold;
  background-color: #337ab7 !important;
  color: #ffff;
}
.auto_mode {
  background-color: #087421 !important;
  color: #ffff;
}
.manual_mode {
  background-color: #9dc319 !important;
  color: #ffff;
}
.color_mode {
  color: #000000 !important;
  background-color: #9eccff !important;
}
.rectangle_auto {
  width: 125px;
  height: 33px;
  background: #087421;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
.rectangle_manual {
  width: 125px;
  height: 33px;
  background: #9dc319;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 5px;
  font-size: 14px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}

html {
  font-size: 13px;
}
