
<div class="container-fluid" style="background-color:aliceblue">
  <div class="ui-g" style="padding-top:5rem; padding-left:12rem">
    <div class="ui-g-4">
      <a [routerLink]="['/wsp']" style="text-decoration:none;">
        <p-card header="WSP" subheader="Контроль передачи данных из WSP" [style]="{width: '360px', height:'250px'}" styleClass="p-card-shadow">
          <p-header>
            <img alt="WSP" src="/Content/img/wsp.png" style="width: 180px; height:120px">
          </p-header>
        </p-card>
      </a>
    </div>
    <div class="ui-g-4">
      <a [routerLink]="['/fulldatas']" style="text-decoration:none">
        <p-card header="InSql" subheader="Контроль полноты сбора данных" [style]="{width: '360px', height:'250px'}" styleClass="p-card-shadow">
          <p-header>
            <img alt="InSql" src="/Content/img/insql.jpg" style="width: 150px; height:90px;margin:1rem">
          </p-header>
        </p-card>
      </a>
    </div>
    <div class="ui-g-4">
      <a [routerLink]="['/autosystem']" style="text-decoration:none">
        <p-card header="Системы автоматики" subheader="Эксплуатационные показатели систем автоматики" [style]="{width: '360px', height:'250px'}" styleClass="p-card-shadow">
          <p-header>
            <img alt="InSql" src="/Content/img/sau.png" style="width: 150px; height:90px;margin:1rem">
          </p-header>
        </p-card>
      </a>
    </div>
    <div class="ui-g-4">
      <a [routerLink]="['/masdu']" style="text-decoration:none">
        <p-card header="М АСДУ ЕСГ" subheader="Контроль передачи данных в М АСДУ ЕСГ" [style]="{width: '360px', height:'250px'}" styleClass="p-card-shadow">
          <p-header>
            <img alt="InSql" src="/Content/img/asdu_esg.jpg" style="width: 150px; height:90px;margin:1rem">
          </p-header>
        </p-card>
      </a>
    </div>
    <div class="ui-g-4">
      <a [routerLink]="['/crane']" style="text-decoration:none">
        <p-card header="Краны" subheader="Контроль перестановки кранов" [style]="{width: '360px', height:'250px'}" styleClass="p-card-shadow">
          <p-header>
            <img alt="InSql" src="/Content/img/crane.jpg" style="width: 150px; height:90px;margin:1rem">
          </p-header>
        </p-card>
      </a>
    </div>
  </div>
</div>




